@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu, sans-serif;
}

.navbar-brand {
    background-image: url('../img/logo-h1.png');
    background-repeat: no-repeat;
    background-position: left center;

    width: 65px;
}

.navbar > .container .navbar-brand {
    margin: 0;
}

footer {
    font-size: 1.1em;
    font-weight: bold;
}