

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.navbar-brand {
    background-image: url('../img/logo-h1.png');
    background-repeat: no-repeat;
    background-position: left center;

    width: 65px;
}

.navbar > .container .navbar-brand {
    margin: 0;
}















